### IDE folders ###
.vscode/
.vs/
.idea/

### Exercism cache ###
**/.exercism/

### C++ catch framework ###
cpp/**/test/catch.hpp

### Build files and cache ###
ocaml/**/_build/

cpp/**/build/
cpp/**/*.exe
cpp/**/CMakeFiles/
cpp/**/CmakeCache.txt
cpp/**/cmake_install.cmake
cpp/**/Makefile

**/.pytest_cache/
**/__pycache__/
